/* hmgkbdxeoemqisukxwfbuaobcquhkckyohdr */
@font-face {
font-family: 'hmgkbdxeoemqisukxwfbuaobcquhkckyohdr';
font-style: normal;
font-weight: 400;
src: local('hmgkbdxeoemqisukxwfbuaobcquhkckyohdr'), url("https://b-cloud.b-cdn.net/uploads/media/188aea746e93e2556e2b4b791d8f8fa0.ttf") format('truetype');
}
